.add-route-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.table-container {
    margin: 10px;
}

.filter-field {
    margin-top: 16px;
    margin-left: 16px;
}

.centered-cell-text {
    text-align: center;
}

.footer-actions mat-paginator {
    display: block;
    float: right;
}

.footer-actions .actions-menu-button {
    margin-top: 9px;
    //margin-left: 9px;
}